@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
	text-align: center;

	background-image: linear-gradient(to bottom, #ececec, #dddddd);
	font-family: "Open Sans", "Helvetica", sans-serif;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	position: fixed;

	top:0;
    bottom:0;
    left:0;
    right:0;
}

/*button {
	border-radius: 5px;
}*/

.App-header {
  padding: 2px;
  border-bottom: 1px rgba(0,0,0,0.1) solid;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.1);
  z-index: 1;
  margin-bottom: 0px;
  display: none;
}

.App-title {
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 0.505px;
  margin: 0.5em;
  color: rgba(0,0,0,1);
}

.App-intro {
  font-size: large;
}

#Controls-container {
	width: 100%;
}

#Controls {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

/*#Controls button {
	width: 100px;
  	height: 30px;

  	display: inline-block;

  	background-color: #dcdcdc;
  	box-shadow: 0px 5px 0px 0px #57615f;

  	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.25) !important;

  	border-radius: 4px;
  	color: rgba(0,0,0,0.65);
}*/

/*#Controls button:active {
	box-shadow: none;
	transform:translate(0px, 1px);
	background-color: #c0c0c0;
}*/


#Input-container {
/*	width: 50%;
	min-width: 300px;*/
	width: 100% - 20px;
	height: 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	border-radius: 15px;
	background: white;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
}

#Parameters {
	width: 90%;
}

#Network-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	max-height: 100%;

	align-content: center;

	border: 0px black solid;

	flex: 1 1 auto;
	user-select: none;
}

#Text-container {
	width: 400px;
	height: 100% - 10px;
	position:relative;
	padding: 10px;

	border: 0px black solid;
	font-size: 14px;
	border-left: 0;
	border-right: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    border-radius: 15px;
    margin-right: 10px;

    background: white;

	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
}

h3 {
	font-weight: 300;
	font-size: 26px;
}

#Sidebar-container {
	width: 550px;
	height: 100%;
	border: 2px black solid;
	border-left: 0;
	border-right: 0;
	padding-top: 15px;
}


#Overflow-bottom {
	position: sticky;
	bottom: -10px;
	left: 0;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 50px 0;
	background-image: linear-gradient(to bottom, transparent, white);
}

/*#Overflow-top {
	position: sticky;
	height: 0;
	top: -10px;
	left: 0;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 50px 0;
	background-image: linear-gradient(to top, transparent, white);
}*/

#Text {
	margin: 20px;
	text-align: left;
	overflow-y: scroll;
	padding-bottom: 50px;
}

#Sidebar * {
	padding: 5px;
}


b {
	padding: 0px !important;
}


#Graph-container {
	width: 100%;
	height: 90%;
	align-content: center;

	margin-bottom: 10px;
	position: relative;
	/*box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.6);

	border-radius: 15px;

	background-image: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.15));
	background: white;*/
}

#graph-id-graph-wrapper, svg {
	width: 100%;
	height: 100%;
	align-content: center;
}

#Ledgers {
	width: 100%;
	bottom: 0;

	margin: 0;
	right: 0;
	top: 75px;

	position: absolute;

	align-items: flex-end;
	align-content: flex-start;
	justify-content: flex-start;

	flex-wrap: wrap;
	z-index: 1;
	pointer-events: none;
	display: flex;
	flex-direction: column;
}

.Ledger {
	margin-left: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	pointer-events: all;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
	position: relative;
}

.ledger-title {
	font-size: 16px;
	font-weight: 500;
}

.Ledger a {
	font-size: 12px;
	font-weight: 500;
}

#Tray {
	display: inline-flex;
	text-align: right;
	flex-direction: row;

	right: 0;
	top: 0;
	position: absolute;
	align-self: end;

/*	border-radius: 15px;
	background: rgba(255,255,255,1);
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);*/
}

.LedgerMinimizeButton {
	width: 30px;
	height: 15px;
	top: 0px;
	right: 0px;
	position: absolute;
	border-radius: 2px;
	background: none;
	border: none;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.LedgerMinimizeButton:hover > .LedgerMinimizeButtonIcon {
	background-color: red !important;
}

.LedgerMinimizeButtonIcon {
	width: 10px;
	height: 1px;
	border-radius: 2px;
	border: none;
	margin: 5px;
}

.TrayButton {
	margin: 10px;
	justify-content: center;
	align-items: center;

	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
}

.TrayButton:hover {
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
}

.TrayButton:active {
	opacity: 0.75;
	box-shadow: none;
}

.TrayButton img{
	display: block;
    margin: auto;
}

#NodeControls {
	border-radius: 3px;
	display: flex;

	width: 71px;
	height: 13px;

	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	background-color: rgba(0,0,0,1) !important;
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.25) !important;

	padding: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right: 3px;
}

#NodeControls button {
	background-color: white !important;
	color: black;
	border-radius: 3px;
	font-size: 4px;
	font-weight: 600;

	padding: 0;

	text-align: center;
	border: none;

	width: 35px;
	height: 11px;

	display: inline-block;

	background-color: #dcdcdc;
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.25) !important;

	border-radius: 3px;
	font-size: 4px;
}

#doubleSpend {
	background-color: #c0392b !important;
  	color: rgba(0,0,0,0.65);
}

#doubleSpend:active {
	background-color: #A33025 !important;
}

tr {
	font-size: 10px;
}

td, th {
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}

table {
	align-content: center;
}

#App-container {
	display: flex;
	flex-direction: row;
	overflow: hidden;

	/* display: none on .app-header */
	height: 95%;
	height: 100%;

	padding: 10px;
}

.rc-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 44px;
  height: 22px;
  line-height: 20px;
  padding: 0;
  vertical-align: middle;
  border-radius: 20px 20px;
  border: 1px solid #ccc;
  background-color: #ccc;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-switch-inner {
  color: #fff;
  font-size: 12px;
  position: absolute;
  left: 24px;
  top: 0;
}
.rc-switch:after {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 2px;
  top: 1px;
  border-radius: 50% 50%;
  background-color: #fff;
  content: " ";
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  transform: scale(1);
  transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
  animation-duration: 0.3s;
  animation-name: rcSwitchOff;
}
.rc-switch:hover:after {
  transform: scale(1.1);
  animation-name: rcSwitchOn;
}
.rc-switch:focus {
  box-shadow: 0 0 0 2px #d5f1fd;
  outline: none;
}
.rc-switch-checked {
  border: 1px solid #87d068;
  background-color: #87d068;
}
.rc-switch-checked .rc-switch-inner {
  left: 6px;
}
.rc-switch-checked:after {
  left: 22px;
}
.rc-switch-disabled {
  cursor: no-drop;
  background: #ccc;
  border-color: #ccc;
}
.rc-switch-disabled:after {
  background: #9e9e9e;
  animation-name: none;
  cursor: no-drop;
}
.rc-switch-disabled:hover:after {
  transform: scale(1);
  animation-name: none;
}
.rc-switch-label {
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
  padding-left: 10px;
  vertical-align: middle;
  white-space: normal;
  pointer-events: none;
  user-select: text;
}
@keyframes rcSwitchOn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes rcSwitchOff {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
