.App {
  text-align: center;
  background-color: #fff;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.App-header {
  padding: 5px;
  height: 5%;
  	border: 1px black solid;
}

.App-title {
  font-size: 1.5em;
  color: black;
}

.App-intro {
  font-size: large;
}

#Controls-container {
	width: 100%;
}

#Controls {
	display: flex;
	flex-direction: row;
	align-content: space-around;
	padding-left: 40%;
}

#Controls button {
	width: 150px;
	height: 30px;
	font-size: 20px;
}


#input-container {
	width: 100%;
}

#Parameters {
	width: 90%;
}

#Text-container {
	width: 30%;
	overflow: hidden;
	max-height: min-content;
	min-height: min-content;
}

#Sidebar-container {
	width: 30%;
	max-height: 90%;
	border: 1px black solid;
}


#Text-container {
	padding: 10px;
	border: 1px black solid;
}

#Text {
	margin: 20px;
	text-align: left;
	overflow-y: scroll;
}

#Sidebar * {
	padding: 5px;
}

#Network-graph {

}

b {
	padding: 0px !important;
}

#Network-container {
	width: 40%;
	max-height: 90%;
	align-content: center;
	border: 2px black solid;
}

#App-container {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	height: 95%;
}