.App {
  text-align: center;
  background-color: #fff;
}

.App-header {
  padding: 5px;
}

.App-title {
  font-size: 1.5em;
  color: black;
}

.App-intro {
  font-size: large;
}

#Controls {
	width: 100%;
}

#Text-container {
	width: 30%;
}

#Sidebar-container {
	width: 30%;
	max-height: 90%;
}


#Text-container * {
	padding: 10px;
}

#Text {
	margin: 20px;
	text-align: left;
	overflow: scroll;
}

#Sidebar {

}

#Network-graph {

}

#Network-container {
	width: 40%;
	max-height: 90%;
}

#App-container {
	display: flex;
	flex-direction: row;
}