.App {
  text-align: center;
  background-color: #fff;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.App-header {
  padding: 5px;
  height: 5%;
}

.App-title {
  font-size: 1.5em;
  color: black;
}

.App-intro {
  font-size: large;
}

#Controls-container {
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
}

#Controls * {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
}

#input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 100%;
}

#Parameters {
	width: 90%;
}

#Text-container {
	width: 30%;
	overflow: hidden;
	max-height: min-content;
	min-height: min-content;
}

#Sidebar-container {
	width: 30%;
	max-height: 90%;
}


#Text-container * {
	padding: 10px;
}

#Text {
	margin: 20px;
	text-align: left;
	overflow-y: scroll;
}

#Sidebar {

}

#Network-graph {

}

b {
	padding: 0px !important;
}

#Network-container {
	width: 40%;
	max-height: 90%;
	align-content: center;
}

#App-container {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	height: 95%;
}